*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    margin: 10px;
    text-align: center;
    height: 10dvh;
}

ul{
    list-style: none;
}

li{
    margin: 3px;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 49vh;
}

footer{
    text-align: center;
}